@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Gobold', sans-serif;
  src: url(../../public/gobold1/GoboldRegular.otf)
    url(../../public/gobold/Gobold-Bold.otf);
}

@font-face {
  font-family: 'Aurinda', sans-serif;
  src: url(../../public/AurindaFont/Aurinda-BF64f981d899891.otf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  overflow-y: hidden;
}

/* body {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  /* style the container for everything other than header and footer */
  .max-container {
    max-width: 1366px;
    @apply mx-auto;
    flex: 1;
  }
  .unset-all {
    all: unset;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-20 sm:py-6 px-4 py-7;
  }
  .padding2 {
    @apply sm:px-48 px-14 sm:py-24 py-16;
  }

  .padding-x {
    @apply lg:px-16 px-10;
  }
  .padding-x2 {
    @apply lg:px-20 px-12;
  }

  .padding-y {
    @apply lg:py-16 py-6;
  }

  .padding-l {
    @apply lg:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-16 pt-8;
  }

  .padding-b {
    @apply sm:pb-16 pb-6;
  }
  .margin-t {
    @apply sm:mt-16 mt-8;
  }
  .margin-y {
    @apply sm:my-16 my-8;
  }
  .info-text {
    @apply font-inter text-slate-gray text-lg leading-7;
  }
}
